#top-bar{
  background-color: black;
  color: white!important;
}
.navbar-brand{
  color:white;
}
.navbar-brand:hover{
  color: white;
}
.font-size{
  font-size: 14px;
}
.bg-color{
  background-color: #403836;
  color: white!important;
}
.text-two{
  font-size:12px;
}
.underline{
  text-decoration: underline;
}
.bg{
  background-color: #7f7468;
}
.line{
  background-color: #7f7468;
  width: 15vw;
  height: 1px;
  margin-top: 5vw;
}
